/** @format */

.wrapper {
  padding: 0.5rem;
}

.inputZone {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.graphZone {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
