/** @format */

.startTime,
.endTime,
.whatDo,
.category {
  margin-bottom: 1rem;
}
.startTime {
  width: 50%;
  margin-right: 0.5rem;
}
.endTime {
  width: 50%;
  margin-left: 0.5rem;
}

.inputTime {
  display: flex;
  justify-content: space-between;
}

.category {
  width: 100%;
}

.whatDo {
  width: 100%;
}
