/** @format */

.toggleBtn {
  color: var(--main-color);
}
.topic::after,
.topic:hover {
  border-color: var(--light-main-color);
}

.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

@media (max-width: 960px) {
  .addForm {
    margin-bottom: 5rem;
  }
}
