/** @format */

.list {
  width: 15rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item {
  height: 6rem;
  display: flex;
}

.text {
  font-size: 1.5rem;
  color: gray;
  text-decoration: none;
}
