/** @format */

.graph_zone {
  width: 20em;
  height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

.wrapper1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19em;
  height: 19em;
  border-radius: 50%;
}

.wrapper1:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 0.5em solid lightgrey;
  border-radius: 50%;
  animation: rotate 8s infinite;
}

.wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16em;
  height: 16em;
  border-radius: 50%;
}

.wrapper2:before {
  content: '';
  position: absolute;
  width: 17em;
  height: 17em;
  border-top: 0.3em solid lightgrey;
  border-radius: 50%;
  animation: rotate 5s infinite;
}

.checked_rate {
  font-size: 1em;
  color: rgb(92, 91, 91);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.allClear {
  transition: all 0.8s ease-in;
  font-size: 1.5em;
  color: skyblue;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
