/** @format */


.header {
  width: 100%;
  min-width: var(--xs);
  height: 3.5rem;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: var(--shadow-2);
}

.title {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.user {
  position: absolute;
  display: flex;
  right: 0;
  margin-right: 1rem;
}