/** @format */
.header {
  background-color: var(--main-color);
  position: relative;
}

.tools {
  position: absolute;
  width: 50%;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav {
  width: 60%;
  justify-content: space-evenly;
  display: none;
}

@media (min-width: 960px) {
  .nav {
    display: flex;
  }
}
