/** @format */

.list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.what {
  font-size: 0.2rem;
  flex: 1 45%;
}

.until {
  font-size: 0.6rem;
  flex: 1 45%;
}

.submit {
  flex: 1 10%;
}
