/** @format */

.section_performence {
  display: flex;
  align-items: center;
  width: 90%;
  transition: all 1s;
}

.graph_Wrapper {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3px;
}

.threeDays_wrapper {
  padding: 0;
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
}

.SecPerY0 {
  transition: all 1s;
  width: 100%;
  background-color: #7986cb;
}

@media screen and (min-width: 960px) {
  .section_performence {
    box-shadow: none;
    position: static;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: auto;
    width: 100%;

    transition: none;
  }

  .graph_Wrapper {
    width: 100%;
    display: flex;
    font-size: 10px;
    height: 17rem;
    margin: 0.3rem;
    border: 0.3px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .threeDays_wrapper {
    margin: 0.3rem;

    width: 100%;
  }

  .SecPerY0 {
    transition: none;
    width: 100%;
    background-color: #ffffff;
  }
}
