/** @format */

.section {
  display: flex;
  width: 100%;
  height: 100%;
}

.item {
  height: 100%;
  width: 33%;
  display: flex;
  position: relative;
}

.text {
  margin: 0;
  text-align: center;
}

.primary {
  font-size: 12px;
}

.secondary {
  font-size: 8px;
}

.display {
  position: absolute;
  left: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rate {
  display: none;
  font-size: 4px;
}

@media screen and (min-width: 600px) {
  .rate {
    display: inline;
  }
}

@media screen and (min-width: 960px) {
  .section {
    height: 17rem;
    display: flex;
    flex-direction: column;
    border: 0.3px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  .item {
    height: 100%;
    width: 100%;
    display: flex;
  }

  .primary {
    font-size: 1rem;
    text-align: start;
  }

  .secondary {
    font-size: 0.8rem;
    text-align: start;
  }

  .secondary::before {
    font-size: 0.6rem;
    content: 'CHECK/LIST: ';
  }

  .display {
    position: absolute;
    left: 60%;
  }

  .display::before {
    content: '전일대비: ';
    color: gray;
    font-size: 0.6rem;
  }

  .rate {
    font-size: 0.8rem;
  }
}
